<!DOCTYPE html>
<body>
    <%- include('../partials/header') %>
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1 class="page-name">Dashboard</h1>
                        <ol class="breadcrumb">
                            <li><a href="/home">Home</a></li>
                            <li class="active">My account</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="user-dashboard page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="dashboard-wrapper dashboard-user-profile">
                        <div class="media">
                          <div class="media-body">
                            <ul class="user-profile-list">
                              <li><span>Full Name:</span>Clay Wright</li>
                              <li><span>Email:</span>clayton.wright@vanderbilt.edu</li>
                              <li><span>Phone:</span>3175227344</li>
                              <li><span>Password:</span>password</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    <div class="dashboard-wrapper user-dashboard">
                        <div class="media">
                            <div class="media-body">
                                <p>Here you will find all listings you have created.</p>
                            </div>
                        </div>
                        <div class="total-order mt-20">
                            <h4>My Listings</h4>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Listing Title</th>
                                            <th>Listing Date</th>
                                            <th>Category</th>
                                            <th>Asking Price</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% myPosts.forEach(function (myPost) { %>
                
                                            <% myPost.posts.forEach(function(post){%>
                                                
                                                <tr>
                                                    <td><%=post.title%></td>
                                                    <td><%=post.date%></td>
                                                    <td><%=post.desc%></td>
                                                    <td><%=post.price%></td>
                                                    <td>
                                                </tr>
                                                  
                                            <% }) %>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('../partials/footer') %>

</body>
