<!DOCTYPE html>
<%- include('../partials/header') %>
<body>
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1 class="page-name">Dashboard</h1>
                        <ol class="breadcrumb">
                            <li><a href="/home">Home</a></li>
                            <li class="active">My account</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="user-dashboard page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="dashboard-wrapper dashboard-user-profile">
                        <div class="media">
                            <div class="media-body">
                                <ul class="user-profile-list">
                                    <li><span>Email:</span>
                                        <%= user.email%>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-wrapper user-dashboard">
                        <div class="media">
                            <div class="media-body">
                                <p>Here you will find all listings you have created.</p>
                            </div>
                        </div>
                        <div class="total-order mt-20">
                            <h4>My Listings</h4>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Listing Title</th>
                                            <th>Listing Date</th>
                                            <th>Description</th>
                                            <th>Asking Price</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% myPosts.forEach(function (myPost) { %>

                                        <% myPost.posts.forEach(function(post){

                                        day = post.date.getDate()
                                        month = post.date.getMonth() + 1
                                        year = post.date.getFullYear()
                                        postDate = month + '-' + day + '-' + year %>

                                        <tr>
                                            <td><%=post.title%></td>
                                            <td><%=postDate%></td>
                                            <td><%=post.desc%></td>
                                            <td><%='$'+post.price%></td>
                                            <td>
                                                <form method="POST" action="/delete">
                                                    <input type='hidden' name='postID' value=<%-post.id%>>
                                                    <input type='hidden' name='email' value=<%-post.email%>>
                                                    <button class="btn btn-main btn-medium btn-round-full"
                                                        type="submit">Delete/Sold</button>
                                                </form>
                                            </td>

                                            <td>
                                        </tr>




                                        <% }) %>

                                        <% }) %>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('../partials/footer') %>

</body>